<div class="row">
    <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
    <div class="col-lg-6">
        <div class="p-5">
            <div class="text-center">
                <h1 class="h4 text-gray-900 mb-4">Welcome Back!</h1>
            </div>
            <form class="user" #login="ngForm">
                <div class="form-group">
                    <input type="email" class="form-control form-control-user"  aria-describedby="emailHelp"
                        name="email" placeholder="Enter Email Address..." ngModel required #email="ngModel" pattern="[a-zA-Z0-9]+@[a-zA-Z0-9]+\.[a-zA-Z0-9]+" [(ngModel)]="userModule.email"> 
                        <div *ngIf="email.invalid && email.touched">
                            <p style="margin: 0; color: darkred;"*ngIf="email.errors?.['required']">Please inter an email</p>
                            <p style="margin: 0; color: darkred;"*ngIf="email.errors?.['pattern']">Invalid email format</p>      
                         </div>
                    </div>
                
                <div class="form-group">
                    <input type="password" class="form-control form-control-user" placeholder="Password" name="password" ngModel required #password="ngModel" [(ngModel)]="userModule.password">
                    <div   *ngIf="password.invalid && password.touched">
                        <p style="margin: 0; color: darkred;"*ngIf="password.errors?.['required']">The password is required</p>
                    </div>
                </div>
                
                <div class="form-group">
                    <div class="custom-control custom-checkbox small">
                        <input type="checkbox" class="custom-control-input" id="customCheck">
                        <label class="custom-control-label" for="customCheck">Remember
                            Me</label>
                    </div>
                </div>
                <div class="d-grid gap-2">
                    <button class="btn btn-primary btn-user btn-block" type="button" [disabled]="login.invalid" (click)="loginUser()">Login</button>
                </div>
                <hr>
                <a href="index.html" class="btn btn-google btn-user btn-block">
                    <i class="fab fa-google fa-fw"></i> Login with Google
                </a>
                <a href="index.html" class="btn btn-facebook btn-user btn-block">
                    <i class="fab fa-facebook-f fa-fw"></i> Login with Facebook
                </a>
            </form>
            <hr>
            <div class="text-center">
                <a class="small" href="/login/resetpassword">Forgot Password?</a>
            </div>
            <div class="text-center">
                <a class="small" href="/login/register">Create an Account!</a>
            </div>
            <div class="text-center">
                <a class="small" href="/">Go back to home</a>
            </div>
        </div>
    </div>
</div>