<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Prodacts</h1>
    
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Table of prodacts and devices</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Date of creation</th>
                            <th>Name</th>
                            <th>Model</th>
                            <th>User</th>
                            
                            <th></th>
                    
                           

                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Date of creation</th>
                            <th>Name</th>
                            <th>Model</th>
                            <th>User</th>
                            
                            <th></th>
                    
                        </tr>
                    </tfoot>
                    <tbody>
                        <tr *ngFor="let d of listDevices">
                            <td>{{d.DateOfCreation}}</td>
                            <td>{{d.name}}</td>
                            <td>{{d.model}}</td>
                            <td>{{d.userId}}</td>
                            
                            <td><a href="#" class="btn btn-info btn-circle">
                                <i class="fas fa-info-circle"></i>
                            </a>
                            <a href="#" class="btn btn-danger btn-circle">
                                <i class="fas fa-trash"></i>
                            </a></td>
                            
                        </tr>
                       
          
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>